

.content{
    display: flex;
}
 
 
 /* HEADER WITH NAV */

header{
    width: 100%;
    height: 80px;
    background-color: white;
}


.logo-big{
    max-width: 100px;
}

.logo-small{
    max-width: 60px;
}

.form-control{
    background-color: lightgrey;
}

.nav-icons{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: .7em;
    color: grey;
    cursor: pointer;
}



.nav-icon-encircle{
    background-color: grey;
    min-width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    color: white;
}


.campanella{
    height: 100%;
    display: flex;
    margin-left: .5em;
}
.fa-bell{
    color: orange;
}


.dropdown-item{
    color: black;
}

/* <!-- END HEADER WITH NAV --> */


/* START LEFT BAR */

.left-bar{
    height: 100vh;
    width: 160px;
    background-color: rgba(5,30,52,255);
    background-image: url(../assets/img/sidebar-bg.png);
    
}

@media screen and (max-width:1000px) {

    .left-bar{
        width: 50px;

    }
}
.bar-contents{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar-icons-big{
    padding-top: 100px;
    padding-left: .5em;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: .5em;
    color: white;
}


.bar-icons-small{
    padding-top: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: .5em;
    color: white;
    text-align: center;
}


.bar-icon-sm:hover{
    background-color: rgb(211, 211, 211, 0.7);
    cursor: pointer;
    border-radius: 30px;
}



.bar-icon-bg{
    padding: .2em;
    cursor: pointer;
}


.bar-icon-bg i{
    width: 20px;
    margin-right: .5em;
}


.bar-icon-bg:hover{
    background-color: rgb(211, 211, 211, 0.7);
}

.admin-bg{
    padding-left: .5em;
    height: 60px;
    color: white;
}


.admin-sm{
    padding-top: 150px;
    height: 200px;
    color: white;
    text-align: center;
}


@media screen and (min-width:1000px) {

    .bar-icons-bg{
        justify-content: center;
    }

}

/* END LEFT BAR */


/* START MAIN */


main{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding-top: 80px;
}


.boolean{
    width: 100%;
    height: 130px;
    background-color: rgba(27,114,232,255);
    color: white;
}

@media screen and (max-width:767px) {

    .boolean{
        height: 230px;
    }


    .first{
        order: -1;

    }

    
    .offcanvas{
        min-width: 100%;
    }

}


.badge{
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.btn{
    border: 1px solid white;
    color: white;
}

/* START TABLE */




table{
    border: none;
}



td{
    font-size: 13px;
}
.avatar{
    height: 30px;
}

.done{
    width: 45px;
    background-color: rgba(25,135,84,255);
    color: white;
    font-size: 10px;
    border-radius: 30px;
    padding: .2em;
    display: flex;
    justify-content: center;
}



.process{
    width: 45px;
    background-color: rgba(255,195,15,255);
    color: white;
    font-size: 10px;
    border-radius: 30px;
    padding: .2em;
    display: flex;
    justify-content: center;
}

.failed{
    width: 45px;
    background-color: red;
    color: white;
    font-size: 10px;
    border-radius: 30px;
    padding: .2em;
    display: flex;
    justify-content: center;
}


.table-icons{
    width: 70px;
    display: flex;
    justify-content: space-between;
}
.table-icon{
    width: 30px;
    aspect-ratio: 1/1;
    padding: .2em;
    border: 2px solid grey;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* END TABLE */

.list-group-item{
    font-size: 13px;
}